.card {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 3%;
  padding: 3px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 5px #55555544;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0px 0px 10px 5px #55555599;
}

.card:active {
  transform: translateY(2px)
}

.card-left {
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 300px;
  width: 250px;
}

.image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-icon {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 5px;
  color: #252525;
}

.card-right-block {
  display: flex;
  flex: 1;
  justify-content: center;
}

.card-right-block-rows {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card-right-block-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-right-block-row p {
  margin-left: 10px;
}

.card-right-block-date {
  padding-top: 8px;
}

.card-right-block-row-line {
  width: 90%;
  align-self: center;
  height: 1px;
  background-color: #252525;
}

.card-right-block-column-line {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 80%;
  width: 1px;
  background-color: #252525;
}

@media screen and (max-width: 960px) {
  .card {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 3%;
    padding: 3px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 3px #55555544;
    border-radius: 10px;
  }

  .card:hover:hover {
    box-shadow: 0px 0px 10px 5px #55555599;
  }

  .card-left {
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 300px;
    width: 250px;
  }

  .image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .card-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .card-icon {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 5px;
    color: #252525;
  }

  .card-right-block {
    display: flex;
    flex: 1;
  }

  .card-right-block-rows {
    display: table;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .card-right-block-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
  }

  .card-right-block-row p {
    margin-left: 10px;
  }

  .card-right-block-date {
    padding-top: 8px;
  }

  .card-right-block-row-line {
    width: 90%;
    align-self: center;
    height: 1px;
    background-color: #252525;
  }

  .card-right-block-column-line {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 80%;
    width: 1px;
    background-color: #252525;
  }
}

@media screen and (max-width: 750px) {
  .card {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 3%;
    padding: 3px;
    box-shadow: 0px 0px 15px 3px #55555544;
    border-radius: 10px;
  }

  .card:hover:hover {
    box-shadow: 0px 0px 10px 5px #55555599;
  }

  .card-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 250px;
    width: 100%;
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .card-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 10px;
  }

  .card-icon {
    display: flex;
    flex-direction: column;
    width: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 5px;
    color: #252525;
  }

  .card-right-block {
    display: flex;
    flex: 1;
  }

  .card-right-block-rows {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5px;
  }

  .card-right-block-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card-right-block-row p {
    margin-left: 10px;
  }

  .card-right-block-date {
    padding-top: 8px;
  }

  .card-right-block-row-line {
    width: 100%;
    align-self: center;
    height: 1px;
    background-color: #252525;
  }

  .card-right-block-column-line {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 90px;
    width: 1px;
    margin-left: 30px;
    background-color: #252525;
  }
}
