* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 1.5rem;
  min-width: 400px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0px 0px 20px 5px #55555544;
}

.table tbody {
  display: block;
  max-height: 500px;
  overflow-y: scroll;
}

.table thead,
table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table thead tr {
  background-color: #e60031;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: center;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #e60031;
}

.search {
  margin-top: 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 250px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid #e60031;
  border-radius: 5px;
  margin-bottom: 12px;
}
