* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.style-container {
  margin-top: 2%;
}

.items-container {
  width: 100%;
  height: 80vh;
  max-height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
}

.items-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.items-container::-webkit-scrollbar-track {
  border: 1px solid #252525;
  border-radius: 10px;
}

.items-container::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 10px;
}

.items-container::-webkit-scrollbar-thumb:hover {
  background: #f00909;
}

@media screen and (max-width: 750px) {
  .container {
    margin: 0;
    padding: 3%;
  }
  .items-container::-webkit-scrollbar {
    display: none;
  }
}
