* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.style-container {
    margin-top: 3%;
}

.btn {
    margin-top: 15px;
    background-color: #e60031;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    color: #FFF;
}

.btn:hover {
    box-shadow: 0px 0px 7px 1px #55555599;
}